[Desktop Entry]
Name=WTQ
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 /home/marco/.local/share/wtq/wtq
Version=1.0
Type=Application
Categories=
Terminal=false
Icon=/home/marco/.local/share/wtq/assets/icon-v2-64.png
Comment=Enable Quake-mode for (almost) any app
StartupNotify=true