[*]
indent_style=tab
indent_size=4

dotnet_diagnostic.CA1848.severity = none # CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CS1591.severity = none # CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.S1135.severity = none # S1135: Track uses of "TODO" tags
dotnet_diagnostic.S6602.severity = none # S6602: "Find" method should be used instead of the "FirstOrDefault" extension
dotnet_diagnostic.S6605.severity = none # S6605: Collection-specific "Exists" method should be used instead of the "Any" extension
dotnet_diagnostic.SA1600.severity = none # SA1600: Elements should be documented
dotnet_diagnostic.SA1101.severity = none # SA1101: Prefix local calls with this
dotnet_diagnostic.SA1309.severity = none # SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1633.severity = none # SA1633: File should have header
