/* Use custom font */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(""), url("raleway/raleway.woff2") format("woff2"), url("raleway/raleway.woff") format("woff"); }

body, input {
/*	font-family: Raleway, Helvetica, Arial, sans-serif;*/
}

/* Footer padding */
.md-footer-meta__inner {
	padding: 1em .2em 2em .2em;
}

.by {
	color: var(--md-default-fg-color--light);
	font-style: italic;
}

/* Indent sections of the left nav to make it more readable */ 
/* Section is disabled, but keep this around for if we re-enable it again */
.md-nav__list {
	margin-left: .5rem;
}

/* Disable left nav on wide screens */
@media screen and (min-width: 76.25em) {
	.md-sidebar--primary {
		display: none;
	}
}

/* Move right nav to left */
.md-sidebar--secondary {
	order: 0;
}

/* Hide ToC title */
.md-nav__title {
	display: none;
}