@using System.Text.Json
@using Wtq.Services.UI.Components.Settings.Process
@using Wtq.Services.UI.Components.Settings.App
@using Wtq.Services.UI.Components.Settings.Behavior

@inject IOptionsMonitor<WtqOptions> WtqOpts
@inject Notifier Notifier
@inject NavigationManager NavMan
@inject WtqOptionsSaveService SaveService
@inject NotificationService NotificationService

@page "/global-settings"

@code {

	public WtqOptions GlobalOpts { get; set; }

	public T JsonDeepClone<T>(T obj)
	{
		var json = JsonSerializer.Serialize(obj);

		var res = JsonSerializer.Deserialize<T>(json);

		return res;
	}

	protected override void OnInitialized()
	{
		Notifier.OnNotify(() => InvokeAsync(StateHasChanged));
		WtqOpts.OnChange((a, b) => Reload());
	}

	protected override void OnParametersSet()
	{
		Reload();
	}

	private async Task SaveAsync()
	{
		await SaveService.SaveAsync(GlobalOpts).NoCtx();

		NotificationService.Notify(NotificationSeverity.Info, "Settings saved");
	}

	private void Reload()
	{
		GlobalOpts = JsonDeepClone(WtqOpts.CurrentValue);
	}

}

<PageHead Icon="public">Global settings</PageHead>

<h2><RadzenIcon Icon="construction" />&nbsp;TODO</h2>

<CascadingValue Value="GlobalOpts">
<CascadingValue Value="Notifier">
<CascadingValue Value="GlobalOpts.ValidationResults">

	<RadzenStack>

		@* Warn about outside file changes. *@
		@*
			TODO: Disabled for now, as the check based on option reloads isn't super reliable.
			TODO:
			TODO: On save. the "OnChange" delegate gets called multiple times. Either just how it is, or we're doing something broken somewhere else.
			TODO: In any case, it's not a particularly robust way of checking, it'd be nicer to directly compare the UI options state against the disk one.
		<RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Warning" Icon="warning" Visible="_hasChanged">
			The settings file has changed, be aware that saving anything here will overwrite on-disk changes.
			<RadzenButton Text="Reload" Click="Reload"/>
		</RadzenAlert>
		*@

		@* @foreach (var v in AppOpts.Validate(new ValidationContext(new object()))) *@
		@* { *@
		@* 	<RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Lighter">@v.ErrorMessage</RadzenAlert> *@
		@* } *@

		<RadzenFieldset Text="Apps">
			<RadzenStack Gap="1rem">

				<HotkeysSetting							Get="() => GlobalOpts.Hotkeys"						Set="v => GlobalOpts.Hotkeys = v" />

			</RadzenStack>
		</RadzenFieldset>

		<RadzenFieldset Text="Process">
			<RadzenStack Gap="1rem">

				<AttachModeSetting						Get="() => GlobalOpts.AttachMode"					Set="v => GlobalOpts.AttachMode = v" />

			</RadzenStack>
		</RadzenFieldset>

		<RadzenFieldset Text="Behavior">
			<RadzenStack Gap="1rem">

				<AlwaysOnTopSetting						Get="() => GlobalOpts.AlwaysOnTop"					Set="v => GlobalOpts.AlwaysOnTop = v" />
				<HideOnFocusLostSetting					Get="() => GlobalOpts.HideOnFocusLost"				Set="v => GlobalOpts.HideOnFocusLost = v" />
				<TaskbarIconVisibilitySetting			Get="() => GlobalOpts.TaskbarIconVisibility"		Set="v => GlobalOpts.TaskbarIconVisibility = v" />
				<OpacitySetting							Get="() => GlobalOpts.Opacity"						Set="v => GlobalOpts.Opacity = v" />

			</RadzenStack>
		</RadzenFieldset>

		<RadzenFieldset Text="Position">
			<RadzenStack Gap="1rem">

				@* <HorizontalScreenCoverageSetting /> *@
				@* <HorizontalAlignSetting /> *@
				@* <VerticalScreenCoverageSetting /> *@
				@* <VerticalOffsetSetting /> *@

			</RadzenStack>
		</RadzenFieldset>

		<RadzenFieldset Text="Monitor">
			<RadzenStack Gap="1rem">

				@* <PreferMonitorSetting/> *@
				@* <MonitorIndexSetting/> *@

			</RadzenStack>
		</RadzenFieldset>

		<RadzenFieldset Text="Animation">
			<RadzenStack Gap="1rem">

				@* <AnimationDurationSetting/> *@
				@* <AnimationTargetFpsSetting/> *@
				@* <AnimationTypeToggleOnSetting/> *@
				@* <AnimationTypeToggleOffSetting/> *@

			</RadzenStack>
		</RadzenFieldset>

	</RadzenStack>

	@* Save/Discard *@
	<RadzenStack
		Orientation="Orientation.Horizontal"
		JustifyContent="JustifyContent.End"
		style="position: sticky; right: 0; bottom: -1.2em; left: 0; padding: 1em 0 1em 0; margin-top: 2em; background-color: #19191a;"
	>
		<RadzenButton Text="Save" Icon="save" Click="SaveAsync"/>
		<RadzenButton Text="Discard Changes" Icon="undo" ButtonStyle="ButtonStyle.Danger" Click="Reload"/>
	</RadzenStack>

</CascadingValue>
</CascadingValue>
</CascadingValue>