@inherits WtqSettingBase<string?>

<WtqSetting TProperty="string" Get="Get" Set="Set" Title="Attach mode">
	<Content>

		<RadzenTextBox
			@bind-Value="Value"
			style="width: 100%;"
			@oninput="@(i => Value = i.Value?.ToString() ?? string.Empty)"
		/>

		@if (!string.IsNullOrWhiteSpace(Value))
		{
			@if (Os.IsCallable(Value))
			{
				<p class="rz-color-success-light rz-mt-1">Filename seems to exist!</p>
			}
			else
			{
				<p class="rz-color-danger-light rz-mt-1">File does NOT seem to exist!</p>
			}
		}

	</Content>
</WtqSetting>