/* Use custom font */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(""), url("raleway/raleway.woff2") format("woff2"), url("raleway/raleway.woff") format("woff"); }

body, input {
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

/* Remove navbar color transition */
.md-header {
	transition: none;
}

/* Hide top label of left navigation, since it's the same as the title in the top navbar */
.md-nav__title[for=__drawer] {
	display: none;
}

li.md-nav__item--section:nth-child(1) {
	margin-top: 0;
}

/* Indent sections of the left nav to make it more readable */ 
.md-nav__list {
	margin-left: .5rem;
}

.by {
	color: var(--md-default-fg-color--light);
	font-style: italic;
}