@inject IPlatformService Platform

<p>Settings backed by file at path <RadzenButton Variant="Variant.Text" Size="ButtonSize.Small" Class="rz-p-1" Click="@(() => Platform.OpenFileOrDirectory(Platform.PathToWtqConf))">@Platform.PathToWtqConf <RadzenIcon Icon="open_in_new" /></RadzenButton>.</p>