@typeparam TProperty where TProperty : struct, Enum

@inherits WtqSettingBase<TProperty?>

@code {

	private TProperty Val
	{
		get => Value ?? default;
		set => Value = value;
	}

}

<WtqSetting TProperty="TProperty?" Get="Get" Set="Set" Default="Default">
	<Content>

		<RadzenRadioButtonList
			Name="@Id"
			Orientation="Orientation.Vertical"
			@bind-Value="Val"
			TValue="TProperty"
		>
			<Items>
				@* <RadzenRadioButtonListItem	Value="HideOnFocusLost.Always"						Text="Always"/> *@
				@* <RadzenRadioButtonListItem	Value="HideOnFocusLost.Never"						Text="Never"/> *@
				@* <RadzenRadioButtonListItem	Value="HideOnFocusLost.UnlessFocusChangedScreen"	Text="Unless focus changed screen"	Disabled="true"/> *@

				@foreach (var v in Wtq.Utils.EnumExtensions.GetEnumItems<TProperty>())
				{

					<RadzenRadioButtonListItem Value="v.Value">
						<Template>
							<strong>@(v.DisplayName)</strong>
							<p class="rz-color-base-500 rz-m-0" style="cursor: pointer; max-width: 300px;">
								@((MarkupString?)v.Doc)
							</p>
						</Template>
					</RadzenRadioButtonListItem>

				}

			</Items>
		</RadzenRadioButtonList>

	</Content>
</WtqSetting>