@inject IOptions<WtqOptions> WtqOptions

@page "/apps/{AppId}"
@using Microsoft.AspNetCore.Components.Sections

@code {

	[NotNull]
	[Parameter]
	public string? AppId { get; set; }

	public WtqAppOptions AppOpts = new();

	protected override void OnInitialized()
	{
		AppOpts = WtqOptions.Value.GetAppOptionsByNameRequired(AppId);
	}

}

<PageHead Icon="circle">
	App <span class="rz-color-primary">@AppId</span>
</PageHead>

<RadzenStack>

	<AppPanel			WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<ProcessPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<BehaviorPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<PositionPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<MonitorPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<AnimationPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />

</RadzenStack>

<SectionContent SectionName="Footer">
	<RadzenFooter Style="padding: 1em;">
		<RadzenStack Orientation="Orientation.Vertical" Gap="1em;">
			<RadzenStack
				Orientation="Orientation.Horizontal"
				JustifyContent="JustifyContent.End">
				<RadzenButton Text="Save" Icon="save" />
				<RadzenButton Text="Discard Changes" Icon="undo" ButtonStyle="ButtonStyle.Danger" />
			</RadzenStack>
		</RadzenStack>
	</RadzenFooter>
</SectionContent>