@inherits WtqSettingBase<ICollection<HotkeyOptions>>

@code {

	private void Add()
	{
		Value.Add(new());

		Notifier.Notify();
	}

	private void Remove(HotkeyOptions hk)
	{
		Value.Remove(hk);

		Notifier.Notify();
	}

}

<WtqSetting TProperty="ICollection<HotkeyOptions>" Get="Get" Set="Set">
	<Content>

		<RadzenStack>

			@foreach (var hk in Value)
			{
				<Hotkey Options="hk" OnRemove="@(() => Remove(hk))"/>
			}

			<RadzenStack>
				<RadzenButton
					Icon="add"
					Size="ButtonSize.Medium"
					Click="Add"
				/>

				<span>Code|Char</span>
			</RadzenStack>

		</RadzenStack>

	</Content>
</WtqSetting>