@page "/logs"

@inject InAppLogSink Logs

@code {

	protected override void OnInitialized()
	{
		Logs.OnEvent = () => StateHasChanged();
	}

}

<PageHead Icon="subject">Logs</PageHead>

<h2><RadzenIcon Icon="construction" />&nbsp;TODO</h2>

<table>
	<tbody>
		@foreach (var ev in Logs.Events)
		{
			<tr>
				<td>@ev.Level</td>
				<td>@ev.RenderMessage(null)</td>
			</tr>
		}
	</tbody>
</table>