@page "/Apps/{AppId}"

@code {

	[Parameter] public string AppId { get; set; }

	public int radioButtonValue;

	public int value;
	public string? value1;
	public bool valuec;
}

<h3>App @AppId</h3>

@code {

}



<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Always On Top</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCheckBox @bind-Value=@valuec Name="CheckBox1"/>
		<RadzenLabel Text="CheckBox" Component="CheckBox1" class="rz-ms-2"/>

		<p class="rz-m-0 rz-mt-4">When checked, the app window will always be on top of other windows, regardless of whether it has focus.</p>
	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Attach Mode</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenRadioButtonList @bind-Value=@radioButtonValue TValue="int" Orientation="Orientation.Vertical">
			<Items>
				<RadzenRadioButtonListItem Value="1" Text="Find or Start"/>
				<RadzenRadioButtonListItem Value="2" Text="Find"/>
				<RadzenRadioButtonListItem Value="3" Text="Manual"/>
			</Items>
		</RadzenRadioButtonList>

		<p class="rz-p-0 rz-m-0">The behavior to use when "attaching" to an app.</p>
	</ChildContent>
</RadzenFieldset>

<h2>Coverage</h2>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Horizontal Screen Coverage</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenSlider @bind-Value=@value TValue="int"/>
	</ChildContent>
</RadzenFieldset>


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Vertical Screen Coverage</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenSlider @bind-Value=@value TValue="int"/>
	</ChildContent>
</RadzenFieldset>


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Horizontal Align</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Stretch" JustifyContent="JustifyContent.SpaceBetween" Gap="1rem" Wrap="FlexWrap.Wrap">

			<RadzenToggleButton
				Icon="format_align_left"
				ButtonStyle="ButtonStyle.Light"
				Shade="Shade.Light"
				ToggleShade="Shade.Dark"
				Size="ButtonSize.Large"
				Text="Left"
			/>

			<RadzenToggleButton
				Icon="format_align_center"
				ButtonStyle="ButtonStyle.Light"
				Shade="Shade.Light"
				ToggleShade="Shade.Dark"
				Size="ButtonSize.Large"
				Text="Center"
			/>

			<RadzenToggleButton
				Icon="format_align_right"
				ButtonStyle="ButtonStyle.Light"
				Shade="Shade.Light"
				ToggleShade="Shade.Dark"
				Size="ButtonSize.Large"
				Text="Right"
			/>

		</RadzenStack>


	</ChildContent>
</RadzenFieldset>





















<h2>Animation</h2>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Animation Duration</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenSlider @bind-Value=@value TValue="int"/>
	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Animation Target FPS</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenStack>
			<RadzenSlider @bind-Value=@value TValue="int"/>
		</RadzenStack>
	</ChildContent>
</RadzenFieldset>


<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			@* <RadzenIcon Icon="account_box"/><b>Attach Mode</b> *@
			<b>Hide On Focus Lost</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCheckBox @bind-Value=@valuec Name="CheckBox1"/>
		<RadzenLabel Text="CheckBox" Component="CheckBox1" class="rz-ms-2"/>
	</ChildContent>
</RadzenFieldset>

<h2>Process</h2>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Filename</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenTextBox @bind-Value="@value1"/>

	</ChildContent>
</RadzenFieldset>

<RadzenFieldset
	Style="margin: 2em auto;">
	<HeaderTemplate>
		<RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
			<b>Startup Arguments</b>
		</RadzenStack>
	</HeaderTemplate>
	<ChildContent>

		<RadzenTextBox @bind-Value="@value1"/>

	</ChildContent>
</RadzenFieldset>