@using Microsoft.Extensions.Options
@using Wtq.Services.UI.Pages.App

@inject IOptions<WtqOptions> WtqOptions

@page "/Apps/{AppId}"

@code {

	[Parameter]
	public string AppId { get; set; }

	public WtqAppOptions AppOpts = new();

	protected override void OnInitialized()
	{
		AppOpts = WtqOptions.Value.GetAppOptionsByNameRequired(AppId);
	}

}

<h1>App <span class="rz-color-primary">@AppId</span></h1>

<RadzenStack>

	<AppPanel			WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<ProcessPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<BehaviorPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<PositionPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<MonitorPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />
	<AnimationPanel		WtqOptions="WtqOptions.Value"	AppOpts="AppOpts" />

</RadzenStack>