@inherits LayoutComponentBase

<div style="position: fixed; top: 0; right: 20px; left: 250px; padding: 0; z-index: 999; background-color: orange; color: black; font-weight: bold; text-align: center;">
	The GUI is a work-in-progress, mind the gaps! And feel free to send feedback on the project page :)
</div>

<RadzenComponents/>

<RadzenLayout>
	<RadzenSidebar Responsive="false">
		<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" style="height: 100%;">
			<LeftNav/>

			<RadzenStack AlignItems="AlignItems.Center" class="rz-mb-4" Gap="8">
				<RadzenButton Variant="Variant.Text" Size="ButtonSize.Small" Click="@(() => Os.OpenUrl(WtqConstants.DocumentationUrl))">Docs <RadzenIcon Icon="open_in_new" /></RadzenButton>
				<RadzenButton Variant="Variant.Text" Size="ButtonSize.Small" Click="@(() => Os.OpenUrl(WtqConstants.GitHubUrl))">GitHub <RadzenIcon Icon="open_in_new" /></RadzenButton>

				<div class="rz-color-base-500 rz-mt-2">WTQ @WtqConstants.AppVersion</div>
			</RadzenStack>
		</RadzenStack>
	</RadzenSidebar>
	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>

</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>