@inherits LayoutComponentBase

@code {

	private string _appVersion;

	protected override void OnInitialized()
	{
		_appVersion = typeof(WtqApp).Assembly.GetName().Version?.ToString() ?? "<unknown>";
	}

}

<RadzenComponents/>

<RadzenLayout>
	<RadzenSidebar>
		<LeftNav/>
	</RadzenSidebar>
	<RadzenBody>
		<div class="rz-p-4">
			<RadzenRow>
				<RadzenColumn OffsetLG="2" SizeLG="8">
					@Body
				</RadzenColumn>
			</RadzenRow>
		</div>
	</RadzenBody>
	<RadzenFooter Style="padding: 1em;">
		<RadzenStack Orientation="Orientation.Vertical" Gap="1em;">
			<RadzenStack
				Orientation="Orientation.Horizontal"
				JustifyContent="JustifyContent.Center">
				<RadzenColumn>WTQ @_appVersion</RadzenColumn>
			</RadzenStack>
		</RadzenStack>
	</RadzenFooter>
</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>