@inherits LayoutComponentBase

@code {
	private string AppSuffix => Os.IsFlatpak ? "(Flatpak)" : string.Empty;
}

<RadzenComponents/>

<RadzenLayout>
	<RadzenSidebar Responsive="false">
		<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" style="height: 100%;">
			<LeftNav/>

			<RadzenStack AlignItems="AlignItems.Center" class="rz-mb-4" Gap="8">
				<RadzenStack Orientation="Orientation.Horizontal">
					<RadzenButton Variant="Variant.Text" Size="ButtonSize.Small" Click="@(() => Os.OpenUrl(WtqConstants.DocumentationUrl))">Docs <RadzenIcon Icon="open_in_new" /></RadzenButton>
					<RadzenButton Variant="Variant.Text" Size="ButtonSize.Small" Click="@(() => Os.OpenUrl(WtqConstants.GitHubUrl))">GitHub <RadzenIcon Icon="open_in_new" /></RadzenButton>
				</RadzenStack>

				<div class="rz-color-base-500 rz-mt-2">@WtqConstants.AppVersion @AppSuffix</div>
			</RadzenStack>
		</RadzenStack>
	</RadzenSidebar>
	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>

</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>