@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<RadzenComponents/>

<RadzenLayout>
	<RadzenSidebar>
		<LeftNav/>

		<div class="rz-color-base-500" style="margin-top: 1em; text-align: center;">WTQ @WtqConstants.AppVersion</div>
	</RadzenSidebar>
	<RadzenBody>
		<div class="rz-p-4">
			<RadzenRow>
				<RadzenColumn OffsetLG="2" SizeLG="8">
					@Body
				</RadzenColumn>
			</RadzenRow>
		</div>
	</RadzenBody>

	<SectionOutlet SectionName="Footer" />

</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>