@using System.ComponentModel.DataAnnotations
@code {

	[Parameter]
	public string? Text { get; set; }

	[Parameter]
	public string? Subtext { get; set; }

	[Parameter]
	public string? Component { get; set; }

	[CascadingParameter]
	public WtqAppOptions AppOpts { get; set; } = null!;

	public IEnumerable<ValidationResult> ValidationResults
	{
		get => AppOpts.Validate(new ValidationContext(new object())).Where(v => v.MemberNames.Any(m => m.Equals(Component, StringComparison.Ordinal)));
	}

	private string LabelClass
		=> ValidationResults.Any()
		? "rz-color-danger-light"
		: "";
}

<RadzenColumn Size="4">
	<RadzenStack Orientation="Orientation.Vertical" Gap="2">
		<RadzenLabel Text="@Text" Component="@Component" class="@LabelClass"/>

		@if (Subtext != null)
		{
			<p class="rz-color-base-500 rz-m-0">@Subtext</p>
		}
	</RadzenStack>
</RadzenColumn>